.menu{
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
}

.botao1{
    background-color: rgb(87, 87, 87);
    padding: 10px;
    border: 2px black solid;
    border-radius: 15px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-decoration: underline;
}

.botao2{
    background-color: rgb(87, 87, 87);
    padding: 10px;
    border: 2px black solid;
    border-radius: 15px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-decoration: underline;
}

.botao3{
    background-color: rgb(87, 87, 87);
    padding: 10px;
    border: 2px black solid;
    border-radius: 15px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-decoration: underline;
}

.botao4{
    background-color: rgb(87, 87, 87);
    padding: 10px;
    border: 2px black solid;
    border-radius: 15px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-decoration: underline;
}

.botao1:hover{
    color: gray;
    background-color: rgb(5, 180, 28);
}

.botao2:hover{
    color: gray;
    background-color: rgb(5, 180, 28);
}

.botao3.botao3:hover{
    color: gray;
    background-color: rgb(5, 180, 28);
}

.botao4:hover{
    color: gray;
    background-color: rgb(5, 180, 28);
}
h1{
text-align: center;
background-color: rgb(204, 207, 0);
margin: 20px;
border: 3px solid;
margin: auto;
width: fit-content;
border-radius: 10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
background-color: rgb(206, 248, 248);
}
.tex{
margin-left: 25%;
margin-top: 20px;
margin-right: 25%;
text-decoration: none;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
background-color: darkgrey;
border: black solid 5px;
text-align: center;
border-radius: 10px;


}

